.arrowContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 5px;
  z-index: -2;
  &__up {
    background-color: #dcdcdc;
    width: 10px;
  }
  &__down {
    transform: rotate(180deg);
    background-color: #dcdcdc;
    width: 10px;
  }
}

.colorSelect {
  background-color: #7a80dd;
}

.colorWhite {
  background-color: white;
}
