.arrowContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 5px;
  &__up {
    background-color: $color-tertiary;
    width: 10px;
  }
  &__down {
    transform: rotate(180deg);
    background-color: $color-tertiary;
    width: 10px;
  }
}

.colorSelect {
  background-color: $color-secondary;
}

.colorWhite {
  background-color: $color-tertiary;
}
