.datePicker {
  display: flex;
  flex-flow: column nowrap;
  &__input {
    width: 195px;
  }
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
  width: 100%;
}

// input[type="date"]:focus:required:invalid::-webkit-datetime-edit {
//   color: black;
//   content: "";
// }

// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//   opacity: 0;
//   -webkit-appearance: none;
// }

// input[type="date"]::before {
//   content: attr(placeholder) "";
// }
