.modalContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  &__content {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    max-width: 500px;
    min-width: 200px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    &--txt {
      margin-left: 40px;
    }
    &--close {
      position: absolute;
      right: -15px;
      top: -15px;
      cursor: pointer;
    }
    &--close img {
      width: 30px;
      background-color: white;
      border-radius: 50%;
    }
  }
}
