.modalContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    max-width: 500px;
    min-width: 200px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    border: 5px solid $color-secondary;
    &--txt {
      font-family: "Tusj", serif;
      font-size: 28px;
      color: $color-secondary;
      text-decoration: underline $underline-title 4px;
    }
    &--close {
      position: absolute;
      right: -15px;
      top: -15px;
      cursor: pointer;
    }
    &--img {
      width: 400px;
    }
    &--close img {
      width: 30px;
      background-color: white;
      border-radius: 50%;
    }
  }
}
