.selectItem {
  width: 250px;
  position: relative;
  &__state,
  &__departement {
    width: 100%;
    &__field {
      width: 100%;
      height: 35px;
      padding: 6px 16px;
      font-size: 1.1em;
      box-sizing: border-box;
      background-color: #f6f6f6;
      border: 1px solid #c5c5c5;
      border-radius: 3px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        background-color: #e6e6e6;
      }
      &--img {
        width: 10px;
        transition: transform 0.3s ease-in-out;
      }
    }
    &__list {
      width: 99%;
      overflow: hidden;
      margin: 0;
      padding: 10px 0;
      border: 1px solid #c5c5c5;
      position: absolute;
      background-color: white;
      z-index: 5;
      font-size: 1.1em;
      &--option {
        width: 100%;
        list-style: none;
        cursor: pointer;
        box-sizing: border-box;
      }
      &--option p {
        width: 100%;
        margin: 0;
        padding: 5px 15px;
      }
      &--option:hover {
        background-color: #007fff;
        border-top: #002c8a;
        border-bottom: #002c8a;
      }
    }
  }
}

.hide {
  visibility: hidden;
}

.rotate {
  transform: rotate(180deg);
}
